Source: nwfermi-module
Section: utils
Priority: optional
Maintainer: M.Angel Juan <m.angel.juan@gmail.com>
Build-Depends: debhelper (>= 10), init-system-helpers
Standards-Version: 4.1.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: https://anonscm.debian.org/git/collab-maint/nwfermi-module.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/nwfermi-module.git

Package: nwfermi-module
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, init-system-helpers, dkms
Description: nwfermi module for smart-board 480 
 nwfermi standalone module (without usermode binary) intended to use with docker image

Package: nwfermi-daemon
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: nwfermi module for smart-board 480 
 nwfermi daemon binary intended to use with docker image
