[Unit]
Description=Actualiza el módulo nwfermi en caso de cambio de kernel

[Service]
Type=oneshot
ExecStart=/usr/sbin/nwfermi_module_dkms_updater

[Install]
WantedBy=multi-user.target

